div{
	text-align:center;
}
body{
	width:960px;
	margin:0 auto;
}
.top1{
	width:100%;
	border-bottom:solid 2px #87cefa; 
	height:60px;
	margin-top:0;
	position:relative;
	
}
.top1 p{
	float:left;
	color:#000;
	font-size:25px;
	line-height:25px;
}
.top2{
	float:right;
	font-size:12px;
	margin-bottom:10px;
	position:absolute;
	right:0;
	bottom:0;
}
.top2 span{
	color:gray;
}
.top2 a{
	color:gray;
	text-decoration:none;
	}
.top2 a:hover{
	color:black;
}
.clear{
	clear:both;
}
.middle1 p{
	margin:30px 0 0 0;
	font-size:18px;
	line-height:25px;
	text-indent:28px;
	text-align:left;
}
.middle1 li{
	font-size:18px;
	line-height:25px;
	text-align:left;
}
.middle2 p{
	font-size:18px;
	line-height:25px;
	text-indent:28px;
	margin:0;
	text-align:left;
}
.text1{
	padding-top:28px;
	font-weight:700;
}
.middle1 ol{
	margin:14px 0;
}
.middle2{
	padding-bottom:50px;
}