<!DOCTYPE html>
<html >
<head runat="server">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>企业信息化绩效评价系统</title>
	<link href="/static/css/moddescribe.css" rel="stylesheet" />	
</head>
<body>
	<div>
		<div class="top1">
			<p>特征与适用范围</p>
			<div class="top2">
				<span>当前位置：</span>
				<a href="">首页</a>
				<span >></span>
				<a href="">权重算法描述</a>
				<span >></span>
				<a href="">组合法</a>
				<span >></span>
				<a href="">特征与适用范围</a>
			</div>
		</div>
		<div class="middle1">
			<p>1.特征</p>
				<p>组合法融合了不同权重算法的特点，有效缓解了主观赋权法对专家个人知识和经验的依赖，同时随着权重算法模型的增加，可以提高指标权重结果的准确度。在利用组合法求解权重的过程中，可以对不同权重算法的结果进行比较，不同算法对同一评价指标权重计算得出的结果相同或者相近，可以一定程度上说明该计算结果较准确；相反，如果不同算法对同一评价指标权重计算得出的结果差别较大，则会影响组合法得出的最终结果。因此，这些权重算法的一致性程度对确定组合法尤为关键。</p>
				<p>2.适用场合</p>
				<p>组合法要求不同权重算法的计算结果具有一定的一致性，需要对多种权重算法进行一致性检验，来确定能否使用组合法。</p>
		</div>
	</div>
<script type="text/javascript" src="/static/js/jquery.js"></script>
<script type="text/javascript" src="/static/js/jquery.easyui.min.js"></script>
<script type="text/javascript" src="/static/js/easyui-lang-zh_CN.js" ></script>
</body>
</html>

