<!DOCTYPE html>
<html >
<head runat="server">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>企业信息化绩效评价系统</title>
	<link href="/static/css/moddescribe.css" rel="stylesheet" />	
</head>
<body>
	<div>
		<div class="top1">
			<p>基本原理</p>
			<div class="top2">
				<span>当前位置：</span>
				<a href="">首页</a>
				<span >></span>
				<a href="">权重算法描述</a>
				<span >></span>
				<a href="">组合法</a>
				<span >></span>
				<a href="">基本原理</a>
			</div>
		</div>
		<div class="middle1">
			<p>就方法赋权的角度而言，可把组合评价方法分为两大类：主观赋权评价法和客观赋权评价法。然而，无论是主观赋权评价法，还是客观赋权评价法，都有其自身无法克服的缺陷。主观赋权法虽然能充分吸收本领域专家高深的理论知识和丰富经验，体现出各个指标的重要程度，但以人的主观判断作为赋权基础不尽合理。客观赋权法虽然具有赋权客观、不受人为因素影响等优点，但也有不足之处，一是客观赋权法所得各指标的权数不能体现各指标自身价值的重要性；二是各指标的权数随样本的变化而变化。面对单一综合评价方法的不足，人们的想法自然就是对不同方法作一综合，以实现它们之间的优势互补，得出更为合理、科学的评价结果。这种综合的方法，就是组合评价法。</p>
		</div>
	</div>
<script type="text/javascript" src="/static/js/jquery.js"></script>
<script type="text/javascript" src="/static/js/jquery.easyui.min.js"></script>
<script type="text/javascript" src="/static/js/easyui-lang-zh_CN.js" ></script>
</body>
</html>
