<!DOCTYPE html>
<html >
<head runat="server">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>企业信息化绩效评价系统</title>
	<link href="/static/css/moddescribe.css" rel="stylesheet" />	
</head>
<body>
	<div>
		<div class="top1">
			<p>基本原理</p>
			<div class="top2">
				<span>当前位置：</span>
				<a href="">首页</a>
				<span >></span>
				<a href="">权重算法描述</a>
				<span >></span>
				<a href="">可拓优度法</a>
				<span >></span>
				<a href="">基本原理</a>
			</div>
		</div>
		<div class="middle1">
			<p>衡量条件集中的各衡量条件有轻有重，用权重代表各衡量条件的相对重要性程度。为了避免主观赋权法的弊端，我们采用可拓学中的可拓权重法确定评价指标的权重，该方法通过计算简单关联函数获得权重值。其基本原理前面已经详细描述。</p>
		</div>
	</div>
<script type="text/javascript" src="/static/js/jquery.js"></script>
<script type="text/javascript" src="/static/js/jquery.easyui.min.js"></script>
<script type="text/javascript" src="/static/js/easyui-lang-zh_CN.js" ></script>
</body>
</html>