<!DOCTYPE html>
<html >
<head runat="server">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>企业信息化绩效评价系统</title>
	<link href="/static/css/moddescribe.css" rel="stylesheet" />	
</head>
<body>
	<div>
		<div class="top1">
			<p>特征与适用场合</p>
			<div class="top2">
				<span>当前位置：</span>
				<a href="">首页</a>
				<span >></span>
				<a href="">权重算法描述</a>
				<span >></span>
				<a href="">可拓优度法</a>
				<span >></span>
				<a href="">特征与适用场合</a>
			</div>
		</div>
		<div class="middle1">
			<p>1.特征</p>
			<p>可拓权重法是一种典型的客观赋权法，权重由指标的取值决定；也是一种动态赋权的方法，即使对于同一指标，权重也不是一成不变的，权重的大小随指标值的变化而变化，具有很强的实用价值。</p>
			<p>2.适用场合</p>
			<p>同样，由于可拓权重法的计算结果受到指标初始值的影响，可拓权重法要求其对应的评价指标体系应尽可能地使用定量指标，同时也要求指标初始值的获取应尽可能从系统中直接抓取或者经过简单的转换获得，以最大程度地保证指标初始值的客观性。</p>
		</div>
	</div>
<script type="text/javascript" src="/static/js/jquery.js"></script>
<script type="text/javascript" src="/static/js/jquery.easyui.min.js"></script>
<script type="text/javascript" src="/static/js/easyui-lang-zh_CN.js" ></script>
</body>
</html>
