<!DOCTYPE html>
<html >
<head runat="server">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>企业信息化绩效评价系统</title>
	<link href="/static/css/moddescribe.css" rel="stylesheet" />	
</head>
<body>
	<div>
		<div class="top1">
			<p>模型评价</p>
			<div class="top2">
				<span>当前位置：</span>
				<a href="">首页</a>
				<span >></span>
				<a href="">模型描述</a>
				<span >></span>
				<a href="">模型评价</a>
			</div>
		</div>
		<div class="middle1">
			<p>可拓评价模型是应用可拓学理论，将物元理论和可拓集合论相结合。它具有如下的特征：</p>
			<ol>
				<li>它提出了突破人脑习惯领域的方法，使人们能够按照一定的程序提出开拓的路径。</li>
				<li>它采用了物元模型来描述问题，物元模型是利用物元和物元关系描述现象或问题的模型。</li>
				<li>它采用了物元模型来描述问题，物元模型是利用物元和物元关系描述现象或问题的模型。</li>
				<li>可拓方法利用菱形思维方法去描述人们进行创新性思维的过程，菱形思维方法包括发散过程和收敛过程。</li>
				<li>发散过程是把问题用物元模型表达，然后从某一物元出发，沿不同的途径，开拓出一批物元，为解决问题提供丰富的信息。</li>
				<li>收敛过程则是在发散过程的基础上，根据客观条件的限制和解决不同问题的不同需要，从可行性、优劣性、真伪性和相容性出发，对发散过程得到的大量物元进行物元变换或综合处理，从而得出评价结果。
				</li>
			</ol>
			<span class="middle2">
				<p>
					正是基于这些特征，同时结合企业信息化绩效评价多个不同角色评价者的特征，以及企业信息化多阶段性的特征，可拓理论与企业信息化绩效评价问题有机地结合在一起，构建出多元多维可拓评价模型，从而有效地改善了现有信息化绩效评价模型只能反映绩效某个侧面或视角、无法反映绩效整体和不同评价者观点的问题，对企业信息化绩效进行了全方位、深层次的综合评价。
				</p>
			</span>
		</div>
	
	
	
	</div>
<script type="text/javascript" src="/static/js/jquery.js"></script>
<script type="text/javascript" src="/static/js/jquery.easyui.min.js"></script>
<script type="text/javascript" src="/static/js/easyui-lang-zh_CN.js" ></script>
</body>
</html>