<!DOCTYPE html>
<html >
<head runat="server">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title> Extension Superiority Evaluation Method</title>
	<link href="/static/css/moddescribe.css" rel="stylesheet" />	
</head>
<body>
	<div>
		<div class="top1">
			<p>权重算法描述</p>
			<div class="top2">
				<span>当前位置：</span>
				<a href="">首页</a>
				<span >></span>
				<a href="">权重算法描述</a>
			</div>
		</div>
		<div class="middle1">
			<p>评价指标权重算法模块的主要功能是提供不同的权重算法，以供用户选择，包括可拓优度法、熵权法、层次分析法和组合法等四种方法。其具体功能结构图如图3.9所示：</p>
			<img src="/static/img/w-1.png"><br>
			<span align="center">图3.9 评价指标权重算法选择功能结构图</span><br><br>
			<p>假设某因素Z受n个因子X={x<sub>1</sub>,...,x<sub>n</sub>}影响，我们以X={x<sub>1</sub>,...,x<sub>n</sub>}这一维通用指标为例，分别介绍四种方法下求解指标权重的具体过程。</p><br>
		</div>
	</div>
<script type="text/javascript" src="/static/js/jquery.js"></script>
<script type="text/javascript" src="/static/js/jquery.easyui.min.js"></script>
<script type="text/javascript" src="/static/js/easyui-lang-zh_CN.js" ></script>
</body>
</html>
