<!DOCTYPE html>
<html >
<head runat="server">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>企业信息化绩效评价系统</title>
	<link href="/static/css/moddescribe.css" rel="stylesheet" />	
</head>
<body>
	<div>
		<div class="top1">
			<p>特征与适用场合</p>
			<div class="top2">
				<span>当前位置：</span>
				<a href="">首页</a>
				<span >></span>
				<a href="">权重算法描述</a>
				<span >></span>
				<a href="">层次分析法</a>
				<span >></span>
				<a href="">特征与适用场合</a>
			</div>
		</div>
		<div class="middle1">
			<p>1.特征</p>
				<p>1）灵活性和实用性。层次分析法充分利用人们的经验和决策，采用相对标度对定量与不可定量、有形与无形等因素进行统一测度，能将决策过程中定性和定量因素进行有效的有机结合。</p>
				<p>2）简单性和易于理解性。层次分析法的输入端主要是决策者的选择与判断，其决策过程充分反映决策者对问题的认识。且方法步骤简单，决策过程清晰明了，便于理解。</p>
				<p>3）系统性和完整性。层次分析法的关键出发点是把问题看作一个系统，研究系统中各组成部分间的相互关系，以及系统所处的环境，并在此基础上进行决策。故整体决策过程具有系统性及完整性。</p>
				<p>实践证明，层次分析法也有其明显的缺点，具体表现在以下几个方面：</p>
				<p>4）由于人们的一般认识和客观事物的差异性以及用标度进行度量的不准确性，导致判断矩阵不满足一致性的条件，所以，应该对一致性的检验进行一些修正；</p>
				<p>5）检验判断矩阵的一致性非常困难。检验判断矩阵的一致性，需要看最大特征根 与判断矩阵的阶数n的关系，若阶数n非常大时，λ<sub>max</sub>的求解就非常复杂</p>
				 <p>6）对判断矩阵的一致性考虑的较多，对其合理性的讨论较少；</p>
				 <p>7）对于定量指标信息的使用不足。层次分析法多是讨论定性指标的评价，对于既有定性指标又有定量指标的定量信息讨论的较少，在这种情况下，应该优先使用定量指标，没有定量指标的情况下才使用定性指标。</p>
				 <p>2.适用场合</p>
				 <p>层次分析法是在对复杂的决策问题的本质、影响因素及其内在关系等进行深入分析的基础上，用较少的定量信息使决策的思维过程数学化，从而为多目标、多准则或无结构特性的复杂决策问题提供简便的决策方法，具有分层渐进的特点，尤其适合于对决策结果难于直接准确计量的场合。当评价指标体系中存在大量定性指标，或者评价指标的量值无法从系统中直接抓取和通过简单的转换得到，我们可以采用层次分析法对指标权重进行求解。同时，判断矩阵的构建依赖于专家自身的知识和经验，这要求对专家的资格和数量进行严格把控。针对多元多维评价指标体系，我们可以要求某一阶段的评价者专门对其所属的一级和二级指标构建判断矩阵，尽可能地提高判断矩阵的可靠性。</p>
		</div>
	</div>
<script type="text/javascript" src="/static/js/jquery.js"></script>
<script type="text/javascript" src="/static/js/jquery.easyui.min.js"></script>
<script type="text/javascript" src="/static/js/easyui-lang-zh_CN.js" ></script>
</body>
</html>

