<!DOCTYPE html>
<html >
<head runat="server">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>企业信息化绩效评价系统</title>
	<link href="/static/css/moddescribe.css" rel="stylesheet" />	
</head>
<body>
	<div>
		<div class="top1">
			<p>特征与适用场合</p>
			<div class="top2">
				<span>当前位置：</span>
				<a href="">首页</a>
				<span >></span>
				<a href="">权重算法描述</a>
				<span >></span>
				<a href="">熵权法</a>
				<span >></span>
				<a href="">特征与适用场合</a>
			</div>
		</div>
		<div class="middle1">
			<p>1.特征</p>
			<p>熵权法是一种客观赋值法，因而由它得出的指标权重值比主观赋权法具有较高的可信度和精确度。但是该方法缺乏各指标之间的横向比较，各指标的权重随样本的变化而变化，权重依赖于样本，这就要求所选取的样本数据客观、准确。同时，用熵值法计算指标权重，其算法要求对同一指标体系有多个不同的样本数据支持，在使用上受限制。</p>
			<p>2.适用场合</p>
			<p>该方法适用于评价指标值获取的样本数据客观、准确，且丰富的情况下。</p>
		</div>
	</div>
<script type="text/javascript" src="/static/js/jquery.js"></script>
<script type="text/javascript" src="/static/js/jquery.easyui.min.js"></script>
<script type="text/javascript" src="/static/js/easyui-lang-zh_CN.js" ></script>
</body>
</html>
