<!DOCTYPE html>
<html >
<head runat="server">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>企业信息化绩效评价系统</title>
	<link href="/static/css/moddescribe.css" rel="stylesheet" />	
</head>
<body>
	<div>
		<div class="top1">
			<p>模型与算法</p>
			<div class="top2">
				<span>当前位置：</span>
				<a href="">首页</a>
				<span >></span>
				<a href="">权重算法描述</a>
				<span >></span>
				<a href="">可拓优度法</a>
				<span >></span>
				<a href="">模型与算法</a>
			</div>
		</div>
		<div class="middle1">
			<p>可拓权重法通过计算简单关联函数获得权重值。我们以求解二级指标企业战略一致性c<sub>111</sub>、信息化的迫切性c<sub>112</sub>、信息化领导力c<sub>113</sub>权重为例，其归一化标准值分别为v<sub>111</sub>、v<sub>112</sub>、v<sub>113</sub>，介绍可拓权重法求解指标权重的具体步骤：</p>
			<p>（1）确定经典域和节域</p>
			<p>由前文可知，二级指标c<sub>111</sub>、c<sub>112</sub>、c<sub>113</sub>的经典域、节域如下：</p>
			<img src="/static/img/3-1.jpg">
			<p>（2）计算简单关联函数</p>
			<img src="/static/img/w-2.jpg">
			<p>其中，j=1,2…t。v<sub>11i</sub>表示指标c<sub>11i</sub>的量值，a<sub>11i</sub>j和b<sub>11i</sub>j分别表示指标c<sub>11i</sub>关于等级 j 的经典域端点。令</p>
			<img src="/static/img/w-3.jpg">
			<p>（3）确定指标权重</p>
			<p>指标c<sub>11i</sub>的权重为</p>
			<img src="/static/img/w-4.jpg">
		</div>
	</div>
<script type="text/javascript" src="/static/js/jquery.js"></script>
<script type="text/javascript" src="/static/js/jquery.easyui.min.js"></script>
<script type="text/javascript" src="/static/js/easyui-lang-zh_CN.js" ></script>
</body>
</html>
