<!DOCTYPE html>
<html >
<head runat="server">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>企业信息化绩效评价系统</title>
	<link href="/static/css/moddescribe.css" rel="stylesheet" />	
</head>
<body>
	<div>
		<div class="top1">
			<p>模型范围</p>
			<div class="top2">
				<span>当前位置：</span>
				<a href="">首页</a>
				<span >></span>
				<a href="">模型描述</a>
				<span >></span>
				<a href="">模型范围</a>
			</div>
		</div>
		<div class="middle1">
			<p>可拓学是一种解决矛盾间题的形式化数学工具。基于可拓原理的优度评价方法是一种定性与定量相结合的评价方法。该方法在评价条件集中加入了“必须满足的条件”，使得评价更加切合实际；而且它允许评价条件集的评价指标，既可为数量型的定量指标描述，又可为非数量型的定性指标描述，使评价方法更加灵活易用；同时该方法利用关联函数所确定的合格度和优度，来反映一个方案或策略的利弊程度。再者，可拓集合成功的给出了用形式化的语言描述矛盾转化及量变与质变的规律，使矛盾问题可以用数学方法解决。可拓学给出的“点与区间之距”的概念，也是经典数学中的“点与区间之距离”的概念的扩展，精确表达了点在区间内不同位置时与区间的位置关系，而不像经典数学一样认为“当点在区间内时，点与区间的距离为0”。这为从“类内即为同”发展为“类内也为异”提供了定量化的工具。</p>
		</div>
	</div>
<script type="text/javascript" src="/static/js/jquery.js"></script>
<script type="text/javascript" src="/static/js/jquery.easyui.min.js"></script>
<script type="text/javascript" src="/static/js/easyui-lang-zh_CN.js" ></script>
</body>
</html>